<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LifeWaist">
	<resultMap id="BaseResultMap" type="com.napoleon.life.core.entity.LifeWaist">
	    <id column="id" property="id" jdbcType="BIGINT"/>
			<result column="user_no" property="userNo" jdbcType="VARCHAR"/>
			<result column="waist" property="waist" jdbcType="DECIMAL"/>
			<result column="bfr" property="bfr" jdbcType="DECIMAL"/>
			<result column="whr" property="whr" jdbcType="DECIMAL"/>
			<result column="measurement_time" property="measurementTime" jdbcType="TIMESTAMP"/>
			<result column="year" property="year" jdbcType="TINYINT"/>
			<result column="month" property="month" jdbcType="TINYINT"/>
			<result column="day" property="day" jdbcType="TINYINT"/>
			<result column="week" property="week" jdbcType="TINYINT"/>
  	</resultMap>
  	
  	<sql id = "Base_Column_List">
		id, user_no, waist, bfr, whr, measurement_time, year, month, day, week
	</sql>
	
	<insert id="insert" parameterType="com.napoleon.life.core.entity.LifeWaist" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO life_waist ( user_no, waist, bfr, whr, measurement_time, year, month, day, week  )  VALUES( #{userNo, jdbcType=VARCHAR},
		  #{waist, jdbcType=DECIMAL}, #{bfr, jdbcType=DECIMAL}, #{whr, jdbcType=DECIMAL},
		   #{measurementTime, jdbcType=TIMESTAMP}, #{year, jdbcType=TINYINT},
		    #{month, jdbcType=TINYINT}, #{day, jdbcType=TINYINT}, #{week, jdbcType=TINYINT}  ) 
	</insert>
	
	<update id="update" parameterType="com.napoleon.life.core.entity.LifeWaist">
		update life_waist
		 <set>
			<if test="userNo != null" >
		        user_no = #{userNo, jdbcType=VARCHAR},
		    </if>
			<if test="waist != null" >
		        waist = #{waist, jdbcType=DECIMAL},
		    </if>
			<if test="bfr != null" >
		        bfr = #{bfr, jdbcType=DECIMAL},
		    </if>
		    <if test="whr != null" >
		        whr = #{whr, jdbcType=DECIMAL},
		    </if>
			<if test="measurementTime != null" >
		        measurement_time = #{measurementTime, jdbcType=TIMESTAMP},
		    </if>
			<if test="year != null" >
		        year = #{year, jdbcType=TINYINT},
		    </if>
			<if test="month != null" >
		        month = #{month, jdbcType=TINYINT},
		    </if>
			<if test="day != null" >
		        day = #{day, jdbcType=TINYINT},
		    </if>
			<if test="week != null" >
		        week = #{week, jdbcType=TINYINT},
		    </if>
		</set>
		
		 where id = #{id, jdbcType=BIGINT}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		 DELETE FROM life_waist WHERE id = #{id, jdbcType=BIGINT}
	</delete>
	
	<select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
		 SELECT <include refid="Base_Column_List" /> FROM life_waist WHERE id = #{id, jdbcType=BIGINT}
	</select>
	 
	 
	<select id="getAll" resultMap="BaseResultMap">
		 SELECT <include refid="Base_Column_List" /> FROM life_waist
	</select>
	
	<select id="findByMonth" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select 
			<include refid="Base_Column_List" /> 
		from life_waist
		where user_no = #{userNo, jdbcType=VARCHAR}
		  and year = #{year, jdbcType=INTEGER}
	      and month = #{month, jdbcType=INTEGER}
	      order by day
	</select>
	
	
	<select id="findByDate" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select 
			<include refid="Base_Column_List" /> 
		from life_waist
		where user_no = #{userNo, jdbcType=VARCHAR}
	      and measurement_time between #{startTime, jdbcType=TIMESTAMP} and #{endTime, jdbcType=TIMESTAMP}
	      order by month, day
	</select>
	
</mapper>